*{
	padding: 0;
	margin: 0;
    border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {
    padding:0;
    border:0;
}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{
    font-size:inherit;
    font-weight: 400;
}

body {
	background: #828D81;
}

.upper-block {
	height: 150px;
}

.brand-name{
	display: inline-block;
	position: relative;
	font-size: 60px;
	font-family: "Montserrat", sans-serif;
	left: 10px;
	top: 42px;
	color: #F8FFEC;
	text-shadow:
			3px 0 2px #151D0E, /*right */
			0 3px 2px #151D0E, /*top */
			-3px 0 2px #151D0E, /*left */
			0 -3px 2px #151D0E; /*bottom */
}

.menu {
	display: flex;
	height: 100px;
	padding: 20px 35px;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 45px 45px;
	background: rgba(164, 176, 163, 0.46);
	color: #F8FFEC;
	font-size: 24px;
	gap: 20%;
	flex-wrap: wrap;
}

.logo_pic {
	display: inline;
	margin: 2px 0 2px 59px;
}

.menu-button {
	color: #F8FFEC;
	font-size: 24px;
	background: none;
}

footer{
	background-color: #151D0E;
	width: 1920px;
	height: 277px;
	border-radius: 45px 45px 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact-info{
	color: #F8FFEC;
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
}

.contact-info-block{
	width: 779px;
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-right: 76px;
}


